.backDoor {
    background-color: #333;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
  }

.door {
    background-color: black;
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 300px;
    border-radius: 10px;

    transform-origin: left;
    transition: all 0.5s ease-in-out;
  }

.doorOpen {
    transform: perspective(1200px) translateZ(0px) translateX(0px)
      translateY(0px) rotateY(-105deg);
  }

#bt {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

#bt:hover {
    background-color: #45a049;
  }

